body {
    background-color: #E8EFCF;
    font-family: "Ubuntu", sans-serif;
    margin: 25px;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-size: 30pt;
    color: #125C13;
    margin: 0;
}

h2 {
    color: #F4F5DB;
    background-color: #125C13;
    padding: 15px;
}

hr {
    background-color: #FF0000;
    height: 4px;
    border: 0;
}

img{
    width: 100%;
    border-radius: 25px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    background-color: #F7F3E9;
    align-content: center;
    align-items: center;
    height: 60px;
}

#intro-articulo {
    font-family: "Abel", sans-serif;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.parrafos {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin: 25px; 
}

.parrafo {
    width: 30%;
    border: #0447da;
    border-style: solid;
    padding: 6px;
    text-align: center;
}

ol li::marker {
    color: red;
}

ul li::marker {
    color: #845EC2;
}

div.principal {
    background-color: #F9F871;
}