
h1 {
    color:rgb(63, 3, 175);
    text-align: center;
}

h2 {
    text-align: center;
    color: orange;
}

p {
    color: green
}

.mi-descripcion  p {
    color:brown;
    text-align: center;
}

.contenedor-tarjeta {
    background-color: rgb(173, 208, 248);
    align-content: center;
    align-items: center;
}

.datos-contacto {
    text-align: center;
}

.foto-perfil img {
    align-items: center;
    align-content: center;
    width: 200px;
    border-width: 8px;
    border-style: solid;
}